
/*  Other styles for making things look pretty ==================== */

/* Fonts
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    margin: 0;
    background-color: #eee;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  
  .overlay {
    background-color: rgba(250, 247, 247, 0.414);
    width: 100vw;
    height: 100vh;
  }
  .overlay2 {
    background-color: rgba(250, 247, 247, 0.414);
    width: 100vw;
    height: 80px;
  }
  