body {
    margin: 0;
    background-color: #eee;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  
  .overlay {
    background-color: rgba(215, 225, 220, 0.879);
    width: 100vw;
    height: 160em;
  }
  .overlay2 {
    background-color: rgba(163, 120, 218, 0.593);
    width: 100vw;
    height: 120px;
  }